.offer-image img {
  display: none;
  width: 100%;
  height: 280px;
}

@media (max-width: 600px){
  .offer-image .image-one{
    display: block;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .offer-image .image-two{
    display: block;
    @media (max-width: 640px) {
      height: 250px;
    }
  }
}

@media (min-width: 901px) {
  .offer-image .image-three{
    display: block;
    height: auto;
  }
}

.carousel-control-prev,
.carousel-control-next{
  filter: invert(1) !important;
  background-color: red !important;
  color: black !important;
  height: 100px !important;
  width: 70px !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.carousel-control-prev {
  left: 10px !important; /* Adjust distance from the left */
}

.carousel-control-next {
  right: 10px !important; /* Adjust distance from the right */
}