@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wdth,wght@86.1,469&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wdth,wght@86.1,469&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

.image-features-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 82px;

  @media (max-width: 768px) {
    margin-top: 160px;
  }
  
  // images and similar products display styles
  .image-select-display-item{
    display: flex;
    background-color: #fff;

    @media (max-width:505px) {
      height: 550px;
    }

    .container-product-size{
      height: 370px;
      padding-top: 20px;
      h5{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .container-size-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;

        .is-white{
          font-size: 18px;
          margin-top: 10px;
          background-color: rgb(206, 206, 206);
          color: rgb(44, 42, 42);
          width: 80%;
          text-align: center;
          border-radius: 5px;

          &:hover{
            cursor: pointer;
            background-color: rgb(44, 42, 42);
            color: rgb(206, 206, 206);
          }
        }

        .is-black,
        p{
            font-size: 18px;
            margin-top: 10px;
            background-color: rgb(206, 206, 206);
            color: rgb(44, 42, 42);
            width: 80%;
            text-align: center;
            border-radius: 5px;
            background-color: rgb(44, 42, 42);
            color: rgb(206, 206, 206);

        }
      }
    }

    .add-border{
      border: 3px solid blue;
      border-radius: 10px;
      background-color: rgb(248, 248, 248);
    }

    .container-of-image-cart-another-image{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      height: 520px;

      .image-display{
        height: 500px;
        margin-top: 10px;
        position: relative;

        img{
          position: relative;
          width: 100%;
          height: 80%;
          border-radius: 15px;
          margin-top: 10px;
          padding: 5px;
        }
      }

      .container-item-quantity-cart-button{
        transform: translate(0px, -50px);
        position: relative;

        p{
          position: absolute;
          font-size: 20px;
          color: green;
          text-align: center;
          transform: translate(50px, -20px);
        }

        // cart button styles
        .add-cart-button{
          cursor: pointer;
          padding: 3px 33px;
          margin-top: 20px;
          font-size: 22;
          font-weight: 800;
          border-radius: 10px;
          color: rgb(230, 33, 170);
          border: 2px solid rgb(100, 192, 231);
          font-family: 'Times New Roman', Times, serif;
          box-shadow: 0px 0px 10px rgba(39, 183, 202, 0.37);

          span{
            padding-right: 14px;
            color: rgb(51, 65, 255);
            font-size: 28;
          }

        }

      }

    }

  }







  // features display styles
  .feature-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    @mixin div{
      width: 90%;
      border: 1px solid rgb(214, 208, 208);
      box-shadow: 0px 0px 5px gray;
      border-radius: 10px;
      padding: 17px;
      margin: 5px auto;
      background-color: #fff;

      h2{
        font-family: sans-serif;
        color: rgb(83, 83, 83);
      }
    }

    .product-basic{
      @include div;
      height: auto;
      h3{
        color: green;
        margin-bottom: 15px;
        b{
          color: gray;
          margin-left: 10px;
          padding-bottom: 15px;
        }
      }
      h5{
        background-color: rgb(0, 180, 0);
        color: white;
        border-radius: 10px;
        padding: 1px 15px;
        display: inline;
      }
      p{
        margin-top: 13px;
        background-color: rgb(197, 197, 197);
        padding: 0px 12px 1px 12px;
        display: inline;
        border-radius: 10px;
      }
    }

    .product-details{
      @include div;
      height: auto;
      p{
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        span{
          color: rgb(54, 53, 53);
          font-size: 15px;
          font-family: "Space Grotesk", serif;
          font-optical-sizing: auto;
        }
      }
    }

    .product-delivery-date{
      @include div;
      height: auto;
      p{
        //margin: 0;
        color: black;
        font-weight: 700;
        span{
          color: gray;
          padding-left: 10px;
          font-weight: 500;
        }
      }
    }

    .product-rating-reviews{
      @include div;
      height: auto;
      div{
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        P{
          color: black;
          margin: 0;
        }

        b{
          display: inline-block;
          width: 60%;
          height: 10px;
          border-radius: 10px;
          background-color: rgb(228, 223, 223);
          position: relative;
          margin-right: 20%;
          span{
            display: inline-block;
            height: 100%;
            background-color: rgba(250, 60, 60, 0.664);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
          }
        }

      }
    }
  }

}






// similar product styling
.container-of-similar-product{
  h3{
    color: rgb(99, 97, 97);
    margin-left: 3%;
    margin-top: 5px;
    font-family: "Barlow Condensed", serif;
    font-style: normal;
  }

  .top-mooving{
    color: white;
    background-color: black;
    padding: 1px 15px;
    border-radius: 10px;
    width: fit-content;
    position: sticky;
    top: 67;
    left: 45%;
    z-index: 500;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;

    @media (max-width:768px) {
      top: 161;
    }
  }

  .container-of-each-similar-product{
    display: flex;
    flex-wrap: wrap;

      .each-similar-product{
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(165, 164, 164);
        margin: 5px 10px;
        border-radius: 5px;
        background-color: #ffffff;
        position: relative;
  
        // image styles
        img{
          position: relative;
          width: 97%;
          aspect-ratio: 1/1;
          object-fit: cover;
          margin: 2px;
          border-radius: 5px;
        }
  
        // name styles
        h5{
          color: gray;
          margin-left: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 150px;
          display: inline-block;
          font-family: 'Times New Roman', Times, serif;
        }
  
        // price styles
        b{
          span{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          }
          margin-left: 10px;
          font-weight: 700;
          font-size: 20px;
          line-height: 16px;
          font-family: Arial, Helvetica, sans-serif;
          color: rgb(56, 56, 56);
        }
  
        // rating styles
        p{
          background-color: rgb(209, 209, 209);
          color: rgb(0, 97, 0);
          font-size: 15px;
          font-weight: 600;
          padding: 0px 10px;
          border-radius: 5px;
          width: fit-content;
          margin-top: 10px;
          margin-left: 10px;
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        &:hover {
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
          transform: translateY(-5px) scale(1.03);
          transition: all 0.3s ease;
          border-color: rgba(0, 97, 0, 0.5);
        }
      }
  }
}