.last-one-item-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;

  // two products
  .container-of-two-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-right: 8px solid #e3ecf5;
    border-left: 8px solid #e3ecf5;
    padding-top: 10px;
    padding-bottom: 10px;

    border-top: 10px solid #e3ecf5;

    .title-of-two-product{
      h3{
        color: rgb(92, 77, 77);
        font-family: "Parkinsans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      }
    }

    .marginBottom{
      margin-bottom: 30px;
    }

    //last one products
    .last-products-display{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img{
        width: 100%;
        height: 115px;
        margin-bottom: 10px;
        border-radius: 10px;
  
        &:hover{
          cursor: pointer;
        }

        // create image height
        @media (max-width: 1200px) {
          width: 90%;
          height: 105px;
        }
        @media (max-width: 1050px) {
          width: 90%;
          height: 95px;
        }
        @media (max-width: 700px) {
          width: 90%;
          height: 80px;
        }
        @media (max-width: 500px) {
          width: 90%;
          height: 72px;
        }
      }

      h5{
        color: rgb(37, 194, 37);
      }
    }
    
  }

  // charger product hide
  @media (min-width: 992px) {
    .phoneCharger{
      display: none;
    }
  }
  @media (max-width: 768px) {
    .phoneCharger{
      display: none;
    }
  }


  // large products
  .homepage-large-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 8px solid #e3ecf5;
    border-right: 8px solid #e3ecf5;
    background-color: white;

    border-top: 10px solid #e3ecf5;

    .large-product-title{
      h3{
        height: 60px;
        text-align: center;
        color: rgba(143, 88, 88, 0.849);
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 6px;
      }
    }

    .last-large-product{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 27px;

      img{
        width: 90%;
        height: 310px;
        padding-bottom: 20px;

        &:hover{
          cursor: pointer;
        }

        // create image height
        @media (max-width: 1200px) {
          width: 90%;
          height: 290px;
        }
        @media (max-width: 1050px) {
          width: 90%;
          height: 270px;
        }
        @media (max-width: 700px) {
          width: 90%;
          height: 240px;
        }
        @media (max-width: 500px) {
          width: 90%;
          height: 224px;
        }
      }
    }
    @media (max-width: 1050px) {
      //background-color: gray;
    }
  }
}