.last-one-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.last-one-item-container .container-of-two-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-right: 8px solid #e3ecf5;
  border-left: 8px solid #e3ecf5;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 10px solid #e3ecf5;
}
.last-one-item-container .container-of-two-product .title-of-two-product h3 {
  color: rgb(92, 77, 77);
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.last-one-item-container .container-of-two-product .marginBottom {
  margin-bottom: 30px;
}
.last-one-item-container .container-of-two-product .last-products-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.last-one-item-container .container-of-two-product .last-products-display img {
  width: 100%;
  height: 115px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.last-one-item-container .container-of-two-product .last-products-display img:hover {
  cursor: pointer;
}
.last-one-item-container .container-of-two-product .last-products-display img:hover + h5 {
  cursor: pointer;
  color: rgb(4, 100, 4);
  transition: color 0.3s ease;
}
@media (max-width: 1200px) {
  .last-one-item-container .container-of-two-product .last-products-display img {
    width: 90%;
    height: 105px;
  }
}
@media (max-width: 1050px) {
  .last-one-item-container .container-of-two-product .last-products-display img {
    width: 90%;
    height: 95px;
  }
}
@media (max-width: 700px) {
  .last-one-item-container .container-of-two-product .last-products-display img {
    width: 90%;
    height: 80px;
  }
}
@media (max-width: 500px) {
  .last-one-item-container .container-of-two-product .last-products-display img {
    width: 90%;
    height: 72px;
  }
}
.last-one-item-container .container-of-two-product .last-products-display h5 {
  color: rgb(37, 194, 37);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 992px) {
  .last-one-item-container .phoneCharger {
    display: none;
  }
}
@media (max-width: 768px) {
  .last-one-item-container .phoneCharger {
    display: none;
  }
}
.last-one-item-container .homepage-large-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 8px solid #e3ecf5;
  border-right: 8px solid #e3ecf5;
  background-color: white;
  border-top: 10px solid #e3ecf5;
}
.last-one-item-container .homepage-large-container .large-product-title h3 {
  height: 60px;
  text-align: center;
  color: rgba(143, 88, 88, 0.849);
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 6px;
}
.last-one-item-container .homepage-large-container .last-large-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 27px;
}
.last-one-item-container .homepage-large-container .last-large-product img {
  width: 90%;
  height: 310px;
  padding-bottom: 20px;
}
.last-one-item-container .homepage-large-container .last-large-product img:hover {
  cursor: pointer;
}
@media (max-width: 1200px) {
  .last-one-item-container .homepage-large-container .last-large-product img {
    width: 90%;
    height: 290px;
  }
}
@media (max-width: 1050px) {
  .last-one-item-container .homepage-large-container .last-large-product img {
    width: 90%;
    height: 270px;
  }
}
@media (max-width: 700px) {
  .last-one-item-container .homepage-large-container .last-large-product img {
    width: 90%;
    height: 240px;
  }
}
@media (max-width: 500px) {
  .last-one-item-container .homepage-large-container .last-large-product img {
    width: 90%;
    height: 224px;
  }
}/*# sourceMappingURL=lastoneproducts.css.map */