.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #d0dce9;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000 !important;
  margin: 0;
}
.navbar .app-logo-link {
  width: 7%;
}
.navbar .app-logo-link .app-logo {
  width: 95%;
  height: 34px;
  transform: scale(1.9);
}
@media (max-width: 768px) {
  .navbar .app-logo-link {
    position: absolute;
    transform: translateY(-50px);
  }
}
.navbar .searchbar-container {
  width: 40%;
  text-align: center;
}
.navbar .searchbar-container input {
  padding: 10px;
  width: 80%;
  border: 1px solid gray;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  outline: none;
}
.navbar .searchbar-container button {
  padding: 10px;
  border: 1px solid gray;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
@media (max-width: 768px) {
  .navbar .searchbar-container {
    width: 100%;
    margin-top: 40px;
  }
}
.navbar .nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-size: 17px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.navbar .nav-links li {
  list-style: none;
  width: 100%;
  display: inline-block;
}
.navbar .nav-links li a {
  text-decoration: none;
  color: rgb(95, 91, 91);
  position: relative;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .navbar .nav-links li a:hover {
    color: blue;
  }
  .navbar .nav-links li a::after {
    content: "";
    position: absolute;
    bottom: -3;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(62, 62, 255);
    transition: width 0.3s ease;
  }
  .navbar .nav-links li a:hover::after {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .navbar .nav-links {
    flex-direction: column;
    width: 100%;
    position: absolute;
    width: 170px;
    top: -500px;
    left: -60;
    background-color: gray;
    transition: all 0.5s ease-in;
  }
  .navbar .nav-links li {
    width: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    background-color: gray;
  }
  .navbar .nav-links li a {
    color: #fff;
  }
  .navbar .nav-links li:hover {
    background-color: black;
  }
}
.navbar .active {
  top: 60px;
  transition: all 0.5s ease-in;
  position: absolute;
  z-index: 1010 !important;
}
.navbar .login-button {
  width: 70px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.4s ease;
}
.navbar .login-button:hover {
  background-color: #fff;
  color: black;
}
@media (max-width: 768px) {
  .navbar .login-button {
    position: absolute;
    transform: translateY(-50px);
    right: 100px;
  }
}
.navbar .cart-logo {
  width: 10%;
  position: relative;
}
.navbar .cart-logo h6 {
  color: red;
  position: absolute;
  margin-left: 73px;
  margin-top: -9px;
}
.navbar .cart-logo img {
  width: 50px;
  margin-left: 50px;
}
.navbar .cart-logo:hover {
  cursor: pointer;
}
@media (max-width: 985px) {
  .navbar .cart-logo h6 {
    margin-left: 53px;
  }
  .navbar .cart-logo img {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .navbar .cart-logo {
    position: absolute;
    transform: translateY(-50px);
    right: 50px;
  }
}
.navbar .menu-icon {
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .navbar .menu-icon {
    display: block;
    position: absolute;
    transform: translateY(-50px);
    left: 80px;
  }
}
@media (max-width: 768px) and (max-width: 700px) {
  .navbar .menu-icon {
    left: 70px;
  }
}
@media (max-width: 768px) and (max-width: 650px) {
  .navbar .menu-icon {
    left: 60px;
  }
}
@media (max-width: 768px) {
  .navbar {
    height: 160px;
    padding-top: 10px !important;
  }
}/*# sourceMappingURL=navbar.css.map */