@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@86.1,469&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@86.1,469&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wdth,wght@86.1,469&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

.container-small-scrolling{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fafdff;

  .title-of-small-scrolling {
    margin-left: 18px;
    margin-top: 10px;

    h2 {
      color: black;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }

  .container-of-small-product{
    display: flex;
    align-items: center;
    overflow-x: auto; 
    overflow-y: hidden;
    gap: 8px; 
    scroll-behavior: smooth;
    padding: 10px;

    .item-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: 200px;
      height: 310px;
      background-color: green;

      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      position: relative;

      img {
        position: relative;
        width: 90%; 
        height: 65%;
        margin-top: 4px;

        &:hover{
          cursor: pointer;
          transform: scale(1.09);
        }

        @media (max-width: 985px) {
          width: 85%; 
          height: 63%;
        }
        @media (max-width: 800px) {
          width: 80%; 
          height: 60%;
        }
        @media (max-width: 700px) {
          width: 75%; 
          height: 58%;
        }
        @media (max-width: 600px) {
          width: 70%; 
          height: 55%;
        }
        @media (max-width: 500px) {
          width: 60%; 
          height: 50%;
        }
      }

      p{
        height: 30px;
        margin-top: 10px;
        text-align: center;
        color: rgb(133, 110, 110);
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      h4 {
        color: rgb(28, 209, 28);
        text-align: center;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 600;
        font-style: normal;
      }

      @media (max-width: 985px) {
        width: 190px;
        height: 290px;
      }
      @media (max-width: 800px) {
        width: 180px;
        height: 260px;
      }
      @media (max-width: 700px) {
        width: 170px;
        height: 240px;
      }
      @media (max-width: 600px) {
        width: 160px;
        height: 230px;
      }
      @media (max-width: 500px) {
        width: 150px;
        height: 220px;
      }

    }
    
  }

  .container-of-small-product::-webkit-scrollbar{
    display: none;
  }

  /* Hide scrollbar on other browsers */
  .container-of-small-product {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.faceWash{
  margin-top: 15px;
  border-bottom: 5px solid #e3ecf5;
}