// import font-family from google fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@86.1,469&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@86.1,469&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@86.1,469&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap');

// small products
.homepage-dynamic-small{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  //each product container
  .parent-dynamic-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 670px;

    //main heading
    .title{
      width: 300px;
      h3{
        text-align: center;
        font-family: "PT Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(63, 48, 48);
      }

      @media (min-width: 320px) and (max-width: 380px) {
        width: 150px;
      }
      @media (min-width: 380px) and (max-width: 380px) {
        width: 175px;
      }
      @media (min-width: 380px) and (max-width: 435px) {
        width: 200px;
      }
      @media (min-width: 435px) and (max-width: 500px) {
        width: 220px;
      }
      @media (min-width: 500px) and (max-width: 600px) {
        width: 240px;
      }
      @media (min-width: 600px) and (max-width: 650px) {
        width: 270px;
      }

    }

    
    .product-dynamic{
      display: flex;
      flex-wrap: wrap;
      width: 300px;
      height: 450px;
      margin: 20px 4px;
  
      //each one product
      .inside-row{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-top: 50px;


        //image and name
        .image-name-display{
          h6{
            text-align: center;
            font-family: "Space Grotesk", sans-serif;
            color: rgb(71, 64, 64);
            height: 45px;
          }
          //image
          .inside-row-of-image{
            width: 100%;
            height: 100px;
            padding: 5px 10px;
            border-radius: 15px;
            // 1 to 2
            @media (min-width: 320px) and (max-width: 380px) {
              height: 100px;
            }
            @media (min-width: 380px) and (max-width: 380px) {
              height: 105px;
            }
            @media (min-width: 380px) and (max-width: 435px) {
              height: 110px;
            }
            @media (min-width: 435px) and (max-width: 500px) {
              height: 115px;
            }
            @media (min-width: 700px) and (max-width: 770px) {
              height: 120px;
            }
            @media (min-width: 770px) and (max-width: 810px) {
              height: 125px;
            }
            @media (min-width: 810px) and (max-width: 840px) {
              height: 130px;
            }
            @media (min-width: 840px) and (max-width: 900px) {
              height: 135px;      
            }
            @media (min-width: 900px) and (max-width: 939px) {
              height: 140px;
            }


            //2 to 3
            @media (min-width: 1030px) and (max-width: 1060px) {
              height: 114px;
            }
            @media (min-width: 1060px) and (max-width: 1100px) {
              height: 120px;
            }
            @media (min-width: 1100px) and (max-width: 1140px) {
              height: 130px;
            }
            @media (min-width: 1140px) and (max-width: 1180px) {
              height: 140px;
            }
            @media (min-width: 1180px) and (max-width: 1220px) {
              height: 150px;
            }
            @media (min-width: 1220px) and (max-width: 1248px) {
              height: 160px;
            }

            //2 to 4
            @media (min-width: 1300px) and (max-width: 1340px) {
              height: 119px;
            }
            @media (min-width: 1340px) and (max-width: 1420px) {
              height: 130px;
            }
            @media (min-width: 1420px) and (max-width: 1460px) {
              height: 140px;
            }
            @media (min-width: 1460px) and (max-width: 1500px) {
              height: 150px;
            }
            @media (min-width: 1500px){
              height: 155px;
            }
          }  
          .inside-row-of-image:hover{
            transform: scale(1.09);
            cursor: pointer;
          }
        }
        //price and star
        .price-star-delivery-display{
          padding-bottom: 10px;
          //price
          b{
            font-size: 20px;
            font-weight: 600;
            color: black;
            span{
              color: rgb(192, 17, 84);
            }
          }
          // star
          .rp-logo{
            color: green;
            font-weight: 400;
            font-size: 20px;
          }
          // free delivery
          p{
            background-color: rgb(231, 220, 220);
            padding: 1px 8px;
            border-radius: 11px;
            margin-bottom: 4px;
          }
        }

      }
  

      // 1 to 2
      @media (min-width: 320px) and (max-width: 380px) {
        width: 100px ;
      }
      @media (min-width: 380px) and (max-width: 380px) {
        width: 130px;
      }
      @media (min-width: 380px) and (max-width: 435px) {
        width: 175px;
      }
      @media (min-width: 435px) and (max-width: 500px) {
        width: 210;
      }
      @media (min-width: 500px) and (max-width: 600px) {
        width: 240px;
      }
      @media (min-width: 600px) and (max-width: 650px) {
        width: 270px;
      }
      @media (min-width: 700px) and (max-width: 770px) {
        width: 330px;
      }
      @media (min-width: 770px) and (max-width: 810px) {
        width: 365px;
      }
      @media (min-width: 810px) and (max-width: 840px) {
        width: 385px;
      }
      @media (min-width: 840px) and (max-width: 900px) {
        width: 400px;
      }
      @media (min-width: 900px) and (max-width: 939px) {
        width: 420px; 
      }
      @media (min-width: 939px) and (max-width: 941px) {
        width: 418px;
      }
  
  
      //1 to 3
      @media (min-width: 1030px) and (max-width: 1060px) {
        width: 320px;
      }
      @media (min-width: 1060px) and (max-width: 1100px) {
        width: 335px;
      }
      @media (min-width: 1100px) and (max-width: 1140px) {
        width: 350px;
      }
      @media (min-width: 1140px) and (max-width: 1180px) {
        width: 360px;
      }
      @media (min-width: 1180px) and (max-width: 1220px) {
        width: 370px;
      }
      @media (min-width: 1220px) and (max-width: 1248px) {
        width: 385px;
      }
  
  
      //1 to 4
      @media (min-width: 1300px) and (max-width: 1340px) {
        width: 310px;
      }
      @media (min-width: 1340px) and (max-width: 1380px) {
        width: 320px;
      }
      @media (min-width: 1380px) and (max-width: 1420px) {
        width: 330px;
      }
      @media (min-width: 1420px) and (max-width: 1460px) {
        width: 340px;
      }
      @media (min-width: 1460px) and (max-width: 1500px) {
        width: 350px;
      }
      @media (min-width: 1500px) and (max-width: 1550px) {
        width: 360px;
      }
      @media (min-width: 1550px){
        width: 360px;
      }
  
      
    }

    @media (min-width: 320px) and (max-width: 380px) {
      height: 630px;
    }
    @media (min-width: 380px) and (max-width: 380px) {
      height: 645px;
    }
    @media (min-width: 380px) and (max-width: 500px) {
      height: 650px;
    }
    @media (min-width: 500px) and (max-width: 600px) {
      height: 650px;
    }

    @media (min-width: 1173px) and (max-width: 1340px) {
      height: 680px;
    }

    @media (min-width: 1420px) and (max-width:1460px){
      height: 700px;
    }

    @media (min-width: 1460px) and (max-width:1510px){
      height: 720px;
    }
    @media (min-width: 1510px){
      height: 750px;
    }
  }

  .hide-products{
    @media (max-width: 1248px){
      display: none;
    }
  }

}