@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@86.1,469&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

.home-page-two-product{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .container-of-two-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    border-right: 8px solid #e3ecf5;
    border-left: 8px solid #e3ecf5;
    padding-top: 10px;
    padding-bottom: 10px;

    .title-of-two-product{
      h3{
        color: rgb(92, 77, 77);
        font-family: "Parkinsans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
      }
    }

    .image-offer-display-of-two-product{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      position: relative;

      img{
        position: relative;
        width: 80%;
        height: 70%;
        margin-bottom: 10px;
        border-radius: 10px;
  
        &:hover{
          cursor: pointer;
        }
        &:hover + h5{
          cursor: pointer;
          color: rgb(4, 100, 4);
          transition: color 0.3s ease;
        }
      }

      h5{
        color: rgb(37, 194, 37);
        font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 700;
        font-style: normal;
        &:hover{
          cursor: pointer;
          color: rgb(4, 100, 4);
          transition: color 0.3s ease;
        }
      }

    }
    
    .marginBottom{
      margin-bottom: 30px;
    }
  }

  .only-medium-device{
    display: none;
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    .only-medium-device{
      display: flex;
    }
  }
}